<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>338274499008-md10kb5qk0p172qoeggf68tef2k0aegb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.338274499008-md10kb5qk0p172qoeggf68tef2k0aegb</string>
	<key>API_KEY</key>
	<string>AIzaSyBiFQJnLNyAyZ1KIAUBAjVGrHGTFKpPV_A</string>
	<key>GCM_SENDER_ID</key>
	<string>338274499008</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vfa.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flashchat-de317</string>
	<key>STORAGE_BUCKET</key>
	<string>flashchat-de317.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:338274499008:ios:f41f44498e8920878eb025</string>
	<key>DATABASE_URL</key>
	<string>https://flashchat-de317.firebaseio.com</string>
</dict>
</plist>